<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi there,</h1>
    <p>
      You have been invited to <strong><%= @space.name %></strong> space <br>
      Here are your login credentials: <br>
      - Email: <%= @user.email %> <br>
      - Password: <%= @password %>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>